#wrap {
  width: 100%;
  min-width: 320px;
}
.basicCont {
  width: 92%;
  margin: 0 auto;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.4s ease;
}
#header.fixed {
  background: rgba(0, 0, 0, 0.7);
  top: -20px;
  transition: all 0.4s ease;
}
#header .header_in {
  position: relative;
}
#header .header_in h1 {
  display: inline-block;
  width: 255px;
  height: 22px;
  padding: 70px 0;
  background: url(../img/logo.jpg) no-repeat center;
}
#header .header_in h1 img {
  transition: all 0.4s ease;
}
#header .header_in a.sitemap {
  display: none;
}
#header.fixed .header_in h1 img {
  width: 85px;
  transition: all 0.4s ease;
}

#gnb {
  position: absolute;
  right: 0;
  top: 75px;
  transition: all 0.4s ease;
}
#gnb .menu {
}
#gnb .menu li {
  display: inline-block;
  margin-right: 40px;
}
#gnb .menu li:last-child {
  margin-right: 0;
}
#gnb .menu li a {
  position: relative;
 
  font-weight: bold;
  color: #000;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  line-height: 1;
  z-index: 10;
  transition: all 0.4s ease;
}
#gnb .menu li a:hover {
  opacity: 0.6;
  transition: all 0.4s ease;
}
#gnb .menu li a::after {
  content: "";
  display: block;
  width: 0;
  height: 7px;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;
  position: absolute;
  bottom: -3px;
  left: 0;
  transition: all 0.4s ease;
}
#gnb .menu li a.mPS2id-highlight::after {
  width: 100%;
  transition: all 0.4s ease;
}

#header.fixed #gnb {
  top: 55px;
  transition: all 0.4s ease;
}

/* 슬라이드 메뉴 : 모바일 메뉴 */
.noScroll {
  overflow: hidden;
}
#menuArea {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  overflow-x: hidden;
  z-index: 9999999999;
  height: 100%;
  max-width: 100%;
  transition: all 0.6s;
}
#menuArea .menuList {
  position: absolute;
  right: -500px;
  height: 100%;
  width: 500px;
  background: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  max-width: 100%;
  transition: all 1s;
}
#menuArea .menuList h1 {
  position: relative;
  padding: 40px 25px 30px;
  box-sizing: border-box;
  overflow: hidden;
}
#menuArea .menuList h1 img {
  height: 60px;
}

#menuArea .menuList .btnMenu_mClose {
  position: absolute;
  right: 20px;
  top: 52px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}
#menuArea .menuList .btnMenu_mClose .material-symbols-outlined {
  font-size: 33px;
  color: #222;
}
#menuArea .menuList > .list {
  background-color: #fff;
  width: 100%; /* border-top:1px solid #ddd; */
}
#menuArea .menuList > .list > li {
  background: #fff; /* border-bottom:1px solid #ddd; */
}
#menuArea .menuList > .list > li > a {
  position: relative;
  padding: 17px 25px;
  display: block;
  font-size: 1.1rem;
  line-height: 100%;
  color: #222;
  text-decoration: none !important;
  font-weight: 500;
  letter-spacing: -0.5pt;
  z-index: 10;
}

#menuArea .menuList > .list > li > a span.material-symbols-outlined {
  position: absolute;
  top: 50%;
  right: 20px;
  color: #000;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

#menuArea .menuList > .list .sMenu {
  background-color: #fff;
  position: relative;
  padding: 0 30px 15px;
  display: none;
}
#menuArea .menuList > .list .sMenu > li {
}
#menuArea .menuList > .list .sMenu > li > a {
  position: relative;
  display: block;
  padding: 3px 0 3px 0;
  border: none;
  color: #777;
  font-size: 14px;
}
#menuArea .menuList > .list .sMenu > li > a:hover {
  color: #000;
  transition: all 0.2s linear;
  text-decoration: underline;
}

#menuArea .menuList > .list .sMenu li:first-child a {
  padding-top: 0;
}
#menuArea .menuList > .list .sMenu li:last-child a {
  padding-bottom: 0;
}

#grayLayer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  overflow-x: hidden;
  overflow-y: auto;
  display: none;
}
#grayLayer > a {
  display: block;
  width: 100%;
  height: 100%;
}
/* 슬라이드 메뉴 : 모바일 메뉴 */

.aboutUs-swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 900px;
}
.swiper-slide {
  position: relative;
}
.swiper-content {
  position: absolute;
  top: 286px;
  left: 320px;
  color: #fff;
}

.sub-title {
  animation: slide_info .8s forwards;
  margin-left: 60px;
  font-size: 20px;
  opacity: 0;
}
.swiper-slide-active .sub-title {
  animation: slide_info .8s forwards;
}
.title {
  margin-left: 100px;
  font-size: 56px;
  margin-top: 28px;
  opacity: 0;
}
.swiper-slide-active .title {
  animation: slide_info .8s forwards;
  animation-delay: 0.3s;
}
.desc {
  margin-left: 100px;
  margin-top: 37px;
  font-size: 26px;
  line-height: 40px;
  opacity: 0;
}
.swiper-slide-active .desc {
  animation: slide_info .8s forwards;
  animation-delay: 0.6s;
}

.swiper-btn {
  display: inline-block;
  width: 150px;
  height: 50px;
  margin-top: 170px;
  background-color: #000;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  line-height: 48px;
  color: #fff;

}
.swiper-progress-bar {
  position: absolute;
  top: 610px;
  left: 320px;
  width: 205px;
  display: block;
  z-index: 1;
  height: 2px;
}
.swiper-progress-bar .slide_progress-bar {
  position: absolute;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: auto;
  clear: both;
  bottom: 45px;
  left: 0;
  right: 0;
}

.swiper-button-prev, .swiper-button-next {
  left: 570px !important;
  top: 564px !important;
  display: inline-block;
  width: 44px !important;
  height: 44px !important;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.4);
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: inherit !important;
}
.swiper-button-next {
    left: 630px !important;
}

.swiper-progress-bar .slide_progress-bar:after {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  height: 100%;
  width: 0;
  content: "";
  transition: 0.1s width linear;
}
.swiper-progress-bar .slide_progress-bar.active .slide_progress-bar {
  opacity: 1;
}
.swiper-progress-bar.animate .slide_progress-bar:after {
  transition: width linear;
  transition-delay: unset;
  width: 100%;
  transition-duration: 5s;
}


@keyframes slide_info {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
      margin-left: 0;
  }
}