.section {
  position: relative;
  overflow: hidden;
}

.section .text_box .title {
  position: relative;
  display: inline;
  font-size: 2.7083vw;
  line-height: 3.4375vw;
  font-weight: 600;
}

.section .text_box .title::after {
  content: '';
  position: absolute;
  bottom: 1.8750vw;
  right: -1.8229vw;
  width: 1.0417vw;
  height: 1.0417vw;
  border-radius: 50%;
  background-color: #ff505a;
}

.section .text_box .sub-title {
  font-size: 1.5625vw;
  font-weight: 600;
  color: #6b7684;
  line-height: 2.6563vw;
}

.section .text_box .desc {
  font-size: 1.1458vw;
  line-height: 1.8750vw;
  color: #191F28;
}

.top_title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16.250vw;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background: url(../img/technology/title_bg.png) no-repeat center;
}

.top_title h3 {
  font-size: 4.688vw;
  font-weight: 600;
  color: #fff;
}


.top_title .sub_list {
  display: flex;
}

.top_title .sub_list li {
  position: relative;
  margin-top: 2.2396vw;
  padding-right: 4.1667vw;
}

.top_title .sub_list li:last-child {
  padding-right: 0;
}

.top_title .sub_list li::after {
  content: '';
  position: absolute;
  right: 2.0833vw;
  top: 0.1042vw;
  width: 0.0521vw;
  height: 0.7813vw;
  background-color: rgba(255, 255, 255, 0.3);
}

.top_title .sub_list li:last-child::after {
  display: none;
}

.top_title .sub_list li a {
  font-size: 0.8333vw;
  line-height: 1;
  color: rgba(255, 255, 255, 0.3);
  ;
  font-weight: 600;
}

.top_title .sub_list li a.on {
  color: #fff;
}

.section .section_inner {
  display: flex;
  height: 49.2708vw;
}

.section .section_inner .img_area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50vw - 8.5px);
  background-color: #3170E2;
}

.section .section_inner .img_area img {
  width: 22.1354vw;
}

.section .section_inner .text_area {
  display: inline-block;
  display: flex;
  align-items: center;
  width: calc(50vw - 8.5px);
  padding: 0 7.65%;
}

.section .section_inner .text_area .sub-title {
  margin-top: 5.3646vw;
}

.section .section_inner .text_area .desc {
  margin-top: 1.7708vw;
}

.sec01 {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec01_bg.png) no-repeat center;
}

.sec01 .section_inner {
  width: 84.7917vw;
  margin: 0 auto;
  padding: 10.4167vw 0 23.6979vw;
}

.sec01 .text_box .desc {
  margin-top: 3.8021vw;
}

.sec03 .section_inner .img_area {
  background-color: #E7AD18;
}

.sec04 .section_inner .img_area {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec04_bg.png) no-repeat center
}

.sec05 .section_inner .img_area {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec05_bg.png) no-repeat center
}

.sec06 {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec06_bg.png) no-repeat center;
}

.sec06 .section_inner {
  width: 84.7917vw;
  margin: 0 auto;
  padding: 10.4167vw 0 22.9167vw;
}

.sec06 .text_box .desc {
  margin-top: 3.8021vw;
}

.sec07 .img_area {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec07_bg.png) no-repeat center;
}

.sec08 .section_inner .img_area {
  background-color: #E7AD18;
}

.sec09 {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec09_bg.png) no-repeat center;
}

.sec09 .section_inner {
  width: 84.7917vw;
  margin: 0 auto;
  padding: 10.4167vw 0 21.3021vw;
}

.sec09 .text_box .desc {
  margin-top: 3.8021vw;
}

.sec11 .section_inner .img_area {
  background-size: cover !important;
  background: url(../img/technology/tab01_sec11_bg.png) no-repeat center;
}